.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 24px 0 0;
  width: 240px;
}

.list {
  display: grid;
  gap: 24px;
}

.item {
  text-align: center;
}

.iconsWrapper {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.icon {
  height: 24px !important;
  width: 24px !important;
}

.footer {
  font: 1.2rem arial, sans-serif;
  padding: 24px 0;
  text-align: center;
}
