@import url("https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Raleway:wght@300&family=Zen+Maru+Gothic&display=swap");

html {
  font-size: 62.5%;
  width: 100% !important;
}

body {
  color: #333;
  font: 1.6rem "Zen Maru Gothic", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  overflow: hidden scroll;
}

* {
  appearance: none;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.ril__toolbar {
  background: transparent !important;
}
