@use "../../styles/mq" as mq;

.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.topBlock {
  background: #49abb8;
  display: flex;
  flex-direction: column;
  @include mq.mq($until: tablet) {
    gap: 8px;
    padding: 16px;
  }
  @include mq.mq($from: tablet) {
    gap: 12px;
    padding: 24px;
  }
}

.upperBlock {
  align-items: center;
  display: flex;
}

.titleBlock {
  align-items: center;
  display: flex;
  overflow: hidden;
  @include mq.mq($until: tablet) {
    height: 60px;
  }
  @include mq.mq($from: tablet) {
    height: 90px;
  }
}

.titleInner {
  @include mq.mq($until: tablet) {
    margin-top: -8px;
  }
  @include mq.mq($from: tablet) {
    margin-top: -15px;
  }
}

.title {
  color: #49abb8;
  font-weight: 900;
  @include mq.mq($until: tablet) {
    font-size: 6.4rem;
    -webkit-text-stroke: 2px #fff;
  }
  @include mq.mq($from: tablet) {
    font-size: 9.6rem;
    -webkit-text-stroke: 4px #fff;
  }
}

.imageBlock {
  overflow: hidden;
  position: relative;
  @include mq.mq($until: tablet) {
    border-radius: 8px;
    height: 64px;
    width: 64px;
  }
  @include mq.mq($from: tablet) {
    border-radius: 12px;
    height: 96px;
    width: 96px;
  }
}

.hr {
  background: #fff;
  border: none;
  height: 1px;
}

.subTitleBlock {
  overflow: hidden;
}

.subTitle {
  color: #fff;
  line-height: 1.25;
  @include mq.mq($until: tablet) {
    font-size: 1.6rem;
  }
  @include mq.mq($from: tablet) {
    font-size: 2.4rem;
  }
}
