@import "sass-mq";

.wrapper {
  background: #000;
  position: relative;
}

.main {
  background: #fff;
  display: flex;
  justify-content: center;
  transition: 500ms;
  @include mq($until: tablet) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.inner {
  max-width: 1080px;
  width: 100%;
}

.buttonWrapper {
  padding: 24px;
  position: fixed;
  right: 0;
  top: 0;
}

.menuWrapper {
  background: #fff;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: 500ms;
  z-index: 1000;
}
