@use "../../styles/mixin" as *;
@use "../../styles/mq" as mq;

.h2 {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.wrapper {
  align-items: center;
  display: flex;
  filter: drop-shadow(4px 4px 4px rgba(#000, 0.75));
  height: 100%;
  justify-content: center;
}

.contactWrapper {
  width: min(100%, 720px);
}

.contactBlock {
  background-color: #fff;
  background-repeat: repeat;
  color: #eee;
  @include mq.mq($until: desktop) {
    padding: 12px;
  }
  @include mq.mq($from: desktop) {
    padding: 24px;
  }
}

.contactInner {
  color: #000;
  @include border-animation;
  @include mq.mq($until: desktop) {
    border-radius: 6px;
    padding: 12px;
  }
  @include mq.mq($from: desktop) {
    border-radius: 12px;
    padding: 24px;
  }
}

.formInner {
  display: grid;
  @include mq.mq($until: desktop) {
    gap: 12px;
  }
  @include mq.mq($from: desktop) {
    gap: 24px;
  }
}

.list {
  display: grid;
  gap: 24px;
}

.item {
  display: grid;
  gap: 4px;
}

.input,
.textarea {
  background: #fff;
  border-bottom: 1px solid #49abb8;
  padding: 4px;
  width: 100%;
}

.budgetField {
  align-items: center;
  display: flex;
  gap: 8px;
}

.budgetField,
.deadlineField {
  width: 240px;
}

.errorMessage {
  color: #f00;
  font-size: 1.4rem;
}

.formFooter {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.button {
  background: #49abb8;
  border-radius: 6px;
  color: #fff;
  padding: 8px 24px;
}
