@use "../../styles/mixin" as *;
@use "../../styles/mq" as mq;

.h2 {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.inner {
  display: flex;
  filter: drop-shadow(4px 4px 4px rgba(#000, 0.75));
  justify-content: center;
}

.fubumikujiWrapper {
  width: min(100%, 720px);
}

.fubumikujiBlock {
  background-color: #fff;
  background-repeat: repeat;
  color: #eee;
  white-space: pre-wrap;
  @include mq.mq($until: desktop) {
    padding: 12px;
  }
  @include mq.mq($from: desktop) {
    padding: 24px;
  }
}

.fubumikujiInner {
  color: #000;
  display: grid;
  gap: 12px;
  @include border-animation;
  @include mq.mq($until: desktop) {
    border-radius: 6px;
    padding: 12px;
  }
  @include mq.mq($from: desktop) {
    border-radius: 12px;
    padding: 24px;
  }
}

.canvasBlock {
  cursor: pointer;
}

.canvas {
  width: 100%;
}

.fubumikujiFooter {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 12px 0;
}

.button {
  background: #49abb8;
  border-radius: 6px;
  color: #fff;
  padding: 8px 0;
  width: min(100%, 180px);
}
