@import "sass-mq";

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  padding-top: 48px;
  @include mq($until: tablet) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  width: 100%;
}

.heading1 {
  font: 4.8rem "Princess Sofia", cursive;
}

.linksWrapper {
  align-items: center;
  font: 1.8rem arial, sans-serif;
  gap: 48px;
  @include mq($until: tablet) {
    display: none;
  }
  @include mq($from: tablet) {
    display: flex;
  }
}

.list {
  display: flex;
  gap: 48px;
}

.iconsWrapper {
  align-items: center;
  display: flex;
  gap: 16px;
}

.icon {
  height: 24px !important;
  width: 24px !important;
}
