/* stylelint-disable-next-line plugin/sass-render-errors */
@use "custom-border-mixin" as *;
@use "../../styles/mixin" as *;
@use "../../styles/mq" as mq;

.h2 {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.list {
  display: flex;
  filter: drop-shadow(4px 4px 4px rgba(#000, 0.75));
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  background-color: #fff;
  background-repeat: repeat;
  color: #eee;
  white-space: pre-wrap;
  @include mq.mq($until: desktop) {
    padding: 12px;
  }
  @include mq.mq($from: desktop) {
    padding: 24px;
  }
}

.itemInner {
  color: #000;
  display: grid;
  grid-template: auto / 100%;
  @include border-animation;
  @include mq.mq($until: desktop) {
    border-radius: 6px;
    gap: 6px;
    padding: 12px;
  }
  @include mq.mq($from: desktop) {
    border-radius: 12px;
    gap: 12px;
    padding: 24px;
  }
}

.imageBlock {
  aspect-ratio: 16 / 9;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.imageBlock img {
  object-fit: cover;
}

@keyframes border-animation2 {
  from {
    @include custom-border(
      dashed($color: #000, $gap: 4px, $length: 10px, $side: top, $size: 2px)
    );
  }
  to {
    @include custom-border(
      dashed(
        $color: #000,
        $gap: 4px,
        $length: 10px,
        $side: top,
        $size: 2px,
        $translate: true
      )
    );
  }
}

.hr {
  animation-direction: normal;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: border-animation2;
  animation-timing-function: linear;
  border: none;
  height: 2px;
}

.textsBlock {
  display: grid;
  @include mq.mq($until: desktop) {
    gap: 2px;
  }
  @include mq.mq($from: desktop) {
    gap: 4px;
  }
}

.titleBlock {
  align-items: center;
  display: flex;
  gap: 2px;
}

.h3 {
  font-size: 2rem;
}
