@import "sass-mq";

.wrapper {
  display: grid;
  gap: 48px;
  padding: 0 0 72px;
}

.sliderWrapper {
  position: relative;
}

.slider {
  position: absolute;
  width: 100%;
}

.imageWrapper,
.imageWrapper2 {
  position: relative;
}

.imageWrapper::before {
  content: "";
  display: block;
  @include mq($until: tablet) {
    padding-top: 56.25vh;
  }
  @include mq($from: tablet) {
    padding-top: 56.25%;
  }
}

.worksInner {
  display: grid;
  gap: 48px;
  justify-items: flex-start;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}

.row {
  margin-top: -24px;
}

.col {
  margin-top: 24px;
}

.imageWrapper2 {
  cursor: pointer;
}

.imageWrapper2::before {
  content: "";
  display: block;
  padding: 56.25% 0 0;
}

.buttonWrapper {
  justify-self: center;
}
