.wrapper {
  padding: 72px 0;
}

.list {
  display: grid;
  gap: 72px;
}

.article {
  display: grid;
  gap: 24px;
}

.imageGalleryWrapper {
  max-width: 1080px;
}

.imageGallery :global(.image-gallery-thumbnails-container) {
  text-align: left;
}

.heading3 {
  font-family: arial, sans-serif;
  font-size: 2rem;
}

.textsWrapper {
  display: grid;
  gap: 8px;
}
