.wrapper {
  padding: 0 0 72px;
}

.formInner {
  display: grid;
  gap: 48px;
  justify-items: flex-start;
  max-width: 480px;
  width: 100%;
}

.labelsWrapper {
  display: grid;
  gap: 24px;
  width: 100%;
}

.label {
  display: grid;
  gap: 4px;
}

.label2 {
  font-size: 1.4rem;
}

.input,
.textarea {
  border: 1px solid #333;
  padding: 4px;
}

.textarea {
  min-height: 240px;
  overflow: hidden scroll;
}

.buttonWrapper {
  justify-self: center;
}
